
h1{
    color:red;
}
h2{
    color:blue;
}
p{
    color:purple;
}
/* *{
    border:solid;
} */

.header{
    background-color: rgb(144, 100, 185);
    display:flex;
    justify-content:space-around;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

p,h2{
    text-align:center;
}